@font-face {
    font-family: "rain";
    src: url(../fonts/Rainbow\ Universe.ttf);
}

@font-face {
    font-family: "summer";
    src: url(../fonts/Summer\ Flash.otf);
}

@font-face {
    font-family: "aut";
    src: url(../fonts/Autumn\ Arbor.otf);
}

body {
    background-image: url(../img/fundo4.jpg);
}

label {
    font-family: "summer";
}

h1 {
    font-family: "aut";
}